:root {
  --color-blue: #00ACDC;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header__logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 60px;
  text-decoration: none;
}

.header__logo img {
  display: block;
}

.nav {
  flex: 1;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 60px;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.nav__link:hover {
  color: var(--color-blue);
}

.nav__link.is-active {
  color: var(--color-blue);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--color-blue);
  border-radius: 8px;
}
